.main_tab {
  height: calc(100svh - 112px);
  background-color: var(--tab-color);
  border-radius: 18px;
  margin: 12px;
  padding: 12px;
  border: var(--border-color) 1px solid;
  flex-grow: 1;

  overflow: auto;
}

.nav_links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
  color: var(--text-color);
  font-weight: me;
}

.nav_links li {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  & > svg {
    width: 25px;
    aspect-ratio: 1;
    flex-shrink: 0;
  }
}

.nav_links li:hover {
  color: var(--white-color);
  cursor: pointer;
}
