@import "tailwindcss";

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans-VariableFont"),
    url("./Fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

:root {
  --text-color: rgb(145, 145, 145);
  --bg-color: rgb(14, 13, 13);
  --tab-color: rgb(19, 18, 18);
  --border-color: rgb(30, 30, 30);
  --white-color: #edefef;
}

body {
  background-color: var(--bg-color);
  width: 100svw;
  height: 100svh;
}

.nav_links li {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.nav_links li:hover {
  color: var(--white-color);
  cursor: pointer;
}
